[submodule "core"]
	path = core
	url = git://github.com/arvidhuss/qi4j-core.git
[submodule "libraries"]
	path = libraries
	url = git://github.com/arvidhuss/qi4j-libraries.git
[submodule "extensions"]
	path = extensions
	url = git://github.com/arvidhuss/qi4j-extensions.git
